html, body {
    display: flex;
    flex-direction: column;
}
.text-pink {
    color: purple;
}

.back-ground-color {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

.bg-all-service {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

hr.new4 {
    border: 3px solid blue;
    margin: auto;
    width: 30%;
}

.male-background-service {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(148,148,215,1) 35%, rgba(102,168,227,1) 55%, rgba(0,212,255,1) 100%);
}

@media screen and (max-width:700px) {
    .col {
        width: 100%;
        float: left;
        padding-top:10px;
    }
}
