
.text-welcome {
color: orange;
}

.col-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.border-wheat{
    border: 0px solid wheat;
}
main {
    background-color: white;
}

.nav-bg {
    background-color: pink;
    color: black;
}
.service {
    background-color: orange;
}
.header-text {
    color:orange
}
.text-home-blue {
    color: blue;
}

.hr-one {
    width: 90%;
    margin: 2%;
    border: 2
    1px solid blue;
}

.img-px-wide {
    width: 90%;
}

.salon-section {
    width: 100%;
    background-color: black;
}

.img-px-wide {
    width: 500px;
    height: 500px;
}

@media screen and (max-width:700px) {

    .d-flex {
        display: flex;
    }

}
